controller_manager:
  ros__parameters:
    update_rate: 100
    use_sim_time: true

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    
    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController

diff_drive_controller:
  ros__parameters:
    left_wheel_names: ["rear_left_wheel_joint", "front_left_wheel_joint"]
    right_wheel_names: ["rear_right_wheel_joint", "front_right_wheel_joint"]

    wheel_separation: 0.35
    wheel_radius: 0.05

    cmd_vel_timeout: 0.5
    publish_rate: 50.0

    base_frame_id: base_link
    odom_frame_id: odom
    enable_odom_tf: true
