<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="inertial_sphere" params="mass radius *origin">
    <inertial>
      <xacro:insert_block name="origin" />
      <mass value="${mass}" />
      <inertia ixx="${(2/5) * mass * (radius*radius)}" ixy="0.0" ixz="0.0"
        iyy="${(2/5) * mass * (radius*radius)}" iyz="0.0"
        izz="${(2/5) * mass * (radius*radius)}" />
    </inertial>
  </xacro:macro>


  <xacro:macro name="inertial_box" params="mass x y z *origin">
    <inertial>
      <xacro:insert_block name="origin" />
      <mass value="${mass}" />
      <inertia ixx="${(1/12) * mass * (y*y+z*z)}" ixy="0.0" ixz="0.0"
        iyy="${(1/12) * mass * (x*x+z*z)}" iyz="0.0"
        izz="${(1/12) * mass * (x*x+y*y)}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
    <inertial>
      <xacro:insert_block name="origin" />
      <mass value="${mass}" />
      <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
        iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
        izz="${(1/2) * mass * (radius*radius)}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="inertial_lidar">
    <inertial>
      <origin xyz="-0.011945780406062 -0.000381929217680526 -0.0170649378129477" rpy="0 0 0" />
      <mass value="0.073084435549317" />
      <inertia ixx="1.96074931730795E-05"
        ixy="-3.62091076640009E-07"
        ixz="4.28230084046735E-07"
        iyy="2.40983835136327E-05"
        iyz="1.50180909250652E-08"
        izz="4.14184164228595E-05" />
    </inertial>
  </xacro:macro>
</robot>